<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>mattetti's couchrest - Module: CouchRest::Mixins::Views::ClassMethods - GitHub Documentation</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="">

<link rel="search" type="application/opensearchdescription+xml" href="http://github.com/opensearch.xml" title="GitHub">
<link rel="fluid-icon" href="http://github.com/fluidicon.png" title="GitHub">
<link href="http://assets0.github.com/stylesheets/bundle.css" media="screen" rel="stylesheet" type="text/css">
<link href="http://github.com/feeds/mattetti/commits/couchrest/master" rel="alternate" title="Recent Commits to couchrest:master" type="application/atom+xml">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://assets3.github.com/javascripts/bundle.js"></script>              
<script src="../../../app.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="http://docs.github.com/javascripts/md5.js"></script>
<script type="text/javascript" src="http://docs.github.com/javascripts/repos.js"></script>
<script type="text/javascript" src="http://docs.github.com/javascripts/commits.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    if (typeof skipHeaders != 'undefined') return;
    
    GitHubRepo.init("mattetti", "couchrest", function(){ 
      GitHubRepo.links = " <a id='namespaces_button' rel='mattetti/couchrest/blob/51408990411411f3bf0826cdd0c042f9ccc0c7c7' href='#'><img class='button' src='http://docs.github.com/namespaces_button.png' alt='Modules and Classes'/></a> ";
      GitHubRepo.links += " <a id='methods_button' rel='mattetti/couchrest/blob/51408990411411f3bf0826cdd0c042f9ccc0c7c7' href='#'><img class='button' src='http://docs.github.com/methods_button.png' alt='Methods'/></a> ";
      $("#repo").html(GitHubRepo.content());
      $('#namespaces_button').click(function(){
        var url="/"+$(this).attr('rel')+"/namespaces/";
        $.gitbox(url);
        return false;
      });    
      $('#methods_button').click(function(){
        var url="/"+$(this).attr('rel')+"/methods/";
        $.gitbox(url);
        return false;
      });        
    });
    GitHubCommit.init("mattetti", "couchrest", "51408990411411f3bf0826cdd0c042f9ccc0c7c7", function(){ 
      $("#commit").html(GitHubCommit.content());
    });
  });
</script>

    <link rel="stylesheet" href="../../../style.css" type="text/css" charset="utf-8" />
  </head>
  <body>    
    
    
    
        <div id="main" style="padding-bottom:8em;">
      <div id="header">
        <div class="site">
          <div class="logo">
            <a href="http://github.com/"><img src="http://github.com/images/modules/header/logov3.png" alt="github"></a>
          </div>          
          <div class="topsearch">
            <form action="http://github.com/search" id="top_search_form" method="get">
              <input class="search" name="q" type="search"> <input value="Search" type="submit">
            </form>
            <div class="links">
              <a href="http://github.com/repositories">Browse</a> | <a href="http://github.com/guides">Guides</a> | <a href="http://github.com/search">Advanced</a>
            </div>
          </div>
          <div class="actions">
            <a href="http://github.com">Home</a>
            <a href="http://github.com/plans"><b><u>Pricing and Signup</u></b></a>
            <a href="http://docs.github.com/">Documentation</a>
            <a href="https://github.com/login">Login</a>
          </div>                  
        </div>
      </div>    
                                                  
      <div id="repo_menu">
        <div class="site">
          <ul>          
            <li class=""><a href="http://github.com/mattetti/couchrest/tree/">Source</a></li>
            <li class=""><a href="http://github.com/mattetti/couchrest/commits/">Commits</a></li>            
            <li class=""><a href="http://github.com/mattetti/couchrest/network">Network</a></li>            
            <li class=""><a href="http://github.com/mattetti/couchrest/issues">Issues</a></li>
            <li class=""><a href="http://wiki.github.com/mattetti/couchrest">Wiki</a></li>
            <li class=""><a href="http://github.com/mattetti/couchrest/graphs">Graphs</a></li>                    
            <li class="active"><a href="/mattetti/couchrest">Documentation</a></li>
          </ul>
        </div>
      </div>

      <div id="repo_sub_menu">
        <div class="site">
          <div class="joiner"></div>      
        </div>
      </div>

      <div class="site">  
        <div id="repos">
          <div id="repo" class="repo public">
            <div class="title">
              <div class="path">
                <a href="http://github.com/mattetti">mattetti</a> / <b><a href="http://github.com/mattetti/couchrest/tree">couchrest</a></b>        
                <a id="namespaces_button" rel="mattetti/couchrest/blob/51408990411411f3bf0826cdd0c042f9ccc0c7c7" href="#"><img class="button" src="http://docs.github.com/namespaces_button.png" alt="Modules and Classes"/></a>
                <a id="methods_button" rel="mattetti/couchrest/blob/51408990411411f3bf0826cdd0c042f9ccc0c7c7" href="#"><img class="button" src="http://docs.github.com/methods_button.png" alt="Methods"/></a>
              </div>
            </div>            
          </div>
          <div id="commit">
          </div> 
          <br/>                                       
          <div id="content">
            <div class="wikistyle">
  <div class="section module CouchRest_Mixins_Views_ClassMethods">
  <h1>Module: CouchRest::Mixins::Views::ClassMethods</h1>
  <div class="section constants">
  
</div>  <div class="section visibilitygroup">
      <div class="section methodsummary">
    <h2>Public Instance Method Summary</h2>
<table class="summary">
  
    <tr>
      <th class="signature">
        <span class='name'><a href="#all_design_doc_versions-instance_method">#all_design_doc_versions</span><span class='args'>(db = database)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        <p>
DEPRECATED user model_design_doc to retrieve the current design doc.
</p>

        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href="#cleanup_design_docs-21-instance_method">#cleanup_design_docs!</span><span class='args'>(db = database)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        <p>
Deletes the current design doc for the current class.
</p>

        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href="#has_view-3F-instance_method">#has_view?</span><span class='args'>(view)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        <p>
returns stored defaults if the there is a view named this in the design
doc.
</p>

        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href="#model_design_doc-instance_method">#model_design_doc</span><span class='args'>(db = database)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        
        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href="#view-instance_method">#view</span><span class='args'>(name, query = {}, &amp;block)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        <p>
Dispatches to any named view.
</p>

        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href="#view_by-instance_method">#view_by</span><span class='args'>(*keys)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        <p>
Define a CouchDB view.
</p>

        
      </td>
    </tr>
  
</table>
  </div>
<div class="section methoddetails">
  <h2>Public Instance Method Details</h2>
  
    <div class="method">
      <div class="method_header">
  <h3>all_design_doc_versions</h3>
</div><div id="all_design_doc_versions-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>all_design_doc_versions</span><span class='args'>(db = database)</span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section docstring">
  <p>
DEPRECATED user model_design_doc to retrieve the current design doc
</p>

</div></div>
<div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="files" style="display:none">
    <div class="file">
      <div class="meta">
        <div class="info">
          <span>File 'lib/couchrest/mixins/views.rb', line 109</span>
        </div>
        <div class="actions">      
          <a id="raw-url" href="http://github.com/mattetti/couchrest/blob/51408990411411f3bf0826cdd0c042f9ccc0c7c7/lib/couchrest/mixins/views.rb#L109">raw</a>      
        </div>
      </div>
            
      <div class="data syntax">    
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>            
                <pre class="line_numbers">109
110
111
112</pre>
              </td>
              <td width="100%">                    
                <div class="highlight"><pre class="code"><span class='def def kw'>def</span> <span class='all_design_doc_versions identifier id'>all_design_doc_versions</span><span class='lparen token'>(</span><span class='db identifier id'>db</span> <span class='assign token'>=</span> <span class='database identifier id'>database</span><span class='rparen token'>)</span>
  <span class='db identifier id'>db</span><span class='dot token'>.</span><span class='documents identifier id'>documents</span> <span class='symbol val'>:startkey</span> <span class='assign token'>=</span><span class='gt op'>&gt;</span> <span class='dstring node'>&quot;_design/#{self.to_s}&quot;</span><span class='comma token'>,</span> 
    <span class='symbol val'>:endkey</span> <span class='assign token'>=</span><span class='gt op'>&gt;</span> <span class='dstring node'>&quot;_design/#{self.to_s}-\u9999&quot;</span>
<span class='end end kw'>end</span>
</pre></div>          
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>  
  </div>
</div>
<div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>cleanup_design_docs!</h3>
</div><div id="cleanup_design_docs-21-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>cleanup_design_docs!</span><span class='args'>(db = database)</span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section docstring">
  <p>
Deletes the current design doc for the current class. Running it to early
could mean that live code has to regenerate potentially large indexes.
</p>

</div></div>
<div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="files" style="display:none">
    <div class="file">
      <div class="meta">
        <div class="info">
          <span>File 'lib/couchrest/mixins/views.rb', line 125</span>
        </div>
        <div class="actions">      
          <a id="raw-url" href="http://github.com/mattetti/couchrest/blob/51408990411411f3bf0826cdd0c042f9ccc0c7c7/lib/couchrest/mixins/views.rb#L125">raw</a>      
        </div>
      </div>
            
      <div class="data syntax">    
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>            
                <pre class="line_numbers">125
126
127</pre>
              </td>
              <td width="100%">                    
                <div class="highlight"><pre class="code"><span class='def def kw'>def</span> <span class='cleanup_design_docs! fid id'>cleanup_design_docs!</span><span class='lparen token'>(</span><span class='db identifier id'>db</span> <span class='assign token'>=</span> <span class='database identifier id'>database</span><span class='rparen token'>)</span>
  <span class='save_design_doc_on identifier id'>save_design_doc_on</span><span class='lparen token'>(</span><span class='db identifier id'>db</span><span class='rparen token'>)</span>
<span class='end end kw'>end</span>
</pre></div>          
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>  
  </div>
</div>
<div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>has_view?</h3>
</div><div id="has_view-3F-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>has_view?</span><span class='args'>(view)</span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section docstring">
  <p>
returns stored defaults if the there is a view named this in the design doc
</p>

</div></div>
<div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="files" style="display:none">
    <div class="file">
      <div class="meta">
        <div class="info">
          <span>File 'lib/couchrest/mixins/views.rb', line 91</span>
        </div>
        <div class="actions">      
          <a id="raw-url" href="http://github.com/mattetti/couchrest/blob/51408990411411f3bf0826cdd0c042f9ccc0c7c7/lib/couchrest/mixins/views.rb#L91">raw</a>      
        </div>
      </div>
            
      <div class="data syntax">    
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>            
                <pre class="line_numbers">91
92
93
94</pre>
              </td>
              <td width="100%">                    
                <div class="highlight"><pre class="code"><span class='def def kw'>def</span> <span class='has_view? fid id'>has_view?</span><span class='lparen token'>(</span><span class='view identifier id'>view</span><span class='rparen token'>)</span>
  <span class='view identifier id'>view</span> <span class='assign token'>=</span> <span class='view identifier id'>view</span><span class='dot token'>.</span><span class='to_s identifier id'>to_s</span>
  <span class='design_doc identifier id'>design_doc</span> <span class='andop op'>&amp;&amp;</span> <span class='design_doc identifier id'>design_doc</span><span class='lbrack token'>[</span><span class='string val'>'views'</span><span class='rbrack token'>]</span> <span class='andop op'>&amp;&amp;</span> <span class='design_doc identifier id'>design_doc</span><span class='lbrack token'>[</span><span class='string val'>'views'</span><span class='rbrack token'>]</span><span class='lbrack token'>[</span><span class='view identifier id'>view</span><span class='rbrack token'>]</span>
<span class='end end kw'>end</span>
</pre></div>          
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>  
  </div>
</div>
<div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>model_design_doc</h3>
</div><div id="model_design_doc-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>model_design_doc</span><span class='args'>(db = database)</span>
    <span class='block'></span>
  </tt>
</div>

</div></div>
<div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="files" style="display:none">
    <div class="file">
      <div class="meta">
        <div class="info">
          <span>File 'lib/couchrest/mixins/views.rb', line 114</span>
        </div>
        <div class="actions">      
          <a id="raw-url" href="http://github.com/mattetti/couchrest/blob/51408990411411f3bf0826cdd0c042f9ccc0c7c7/lib/couchrest/mixins/views.rb#L114">raw</a>      
        </div>
      </div>
            
      <div class="data syntax">    
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>            
                <pre class="line_numbers">114
115
116
117
118
119
120</pre>
              </td>
              <td width="100%">                    
                <div class="highlight"><pre class="code"><span class='def def kw'>def</span> <span class='model_design_doc identifier id'>model_design_doc</span><span class='lparen token'>(</span><span class='db identifier id'>db</span> <span class='assign token'>=</span> <span class='database identifier id'>database</span><span class='rparen token'>)</span>
  <span class='begin begin kw'>begin</span>
    <span class='@model_design_doc ivar id'>@model_design_doc</span> <span class='assign token'>=</span> <span class='db identifier id'>db</span><span class='dot token'>.</span><span class='get identifier id'>get</span><span class='lparen token'>(</span><span class='dstring node'>&quot;_design/#{self.to_s}&quot;</span><span class='rparen token'>)</span>
  <span class='rescue rescue kw'>rescue</span>
    <span class='nil nil kw'>nil</span>
  <span class='end end kw'>end</span>
<span class='end end kw'>end</span>
</pre></div>          
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>  
  </div>
</div>
<div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>view</h3>
</div><div id="view-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>view</span><span class='args'>(name, query = {}, &amp;block)</span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section docstring">
  <p>
Dispatches to any named view.
</p>

</div></div>
<div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="files" style="display:none">
    <div class="file">
      <div class="meta">
        <div class="info">
          <span>File 'lib/couchrest/mixins/views.rb', line 97</span>
        </div>
        <div class="actions">      
          <a id="raw-url" href="http://github.com/mattetti/couchrest/blob/51408990411411f3bf0826cdd0c042f9ccc0c7c7/lib/couchrest/mixins/views.rb#L97">raw</a>      
        </div>
      </div>
            
      <div class="data syntax">    
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>            
                <pre class="line_numbers">97
98
99
100
101
102
103
104
105</pre>
              </td>
              <td width="100%">                    
                <div class="highlight"><pre class="code"><span class='def def kw'>def</span> <span class='view identifier id'>view</span><span class='lparen token'>(</span><span class='name identifier id'>name</span><span class='comma token'>,</span> <span class='query identifier id'>query</span><span class='assign token'>=</span><span class='lbrace token'>{</span><span class='rbrace token'>}</span><span class='comma token'>,</span> <span class='bitand op'>&amp;</span><span class='block identifier id'>block</span><span class='rparen token'>)</span>
  <span class='unless unless kw'>unless</span> <span class='design_doc_fresh identifier id'>design_doc_fresh</span>
    <span class='refresh_design_doc identifier id'>refresh_design_doc</span>
  <span class='end end kw'>end</span>
  <span class='query identifier id'>query</span><span class='lbrack token'>[</span><span class='symbol val'>:raw</span><span class='rbrack token'>]</span> <span class='assign token'>=</span> <span class='true true kw'>true</span> <span class='if if_mod kw'>if</span> <span class='query identifier id'>query</span><span class='lbrack token'>[</span><span class='symbol val'>:reduce</span><span class='rbrack token'>]</span>        
  <span class='db identifier id'>db</span> <span class='assign token'>=</span> <span class='query identifier id'>query</span><span class='dot token'>.</span><span class='delete identifier id'>delete</span><span class='lparen token'>(</span><span class='symbol val'>:database</span><span class='rparen token'>)</span> <span class='orop op'>||</span> <span class='database identifier id'>database</span>
  <span class='raw identifier id'>raw</span> <span class='assign token'>=</span> <span class='query identifier id'>query</span><span class='dot token'>.</span><span class='delete identifier id'>delete</span><span class='lparen token'>(</span><span class='symbol val'>:raw</span><span class='rparen token'>)</span>
  <span class='fetch_view_with_docs identifier id'>fetch_view_with_docs</span><span class='lparen token'>(</span><span class='db identifier id'>db</span><span class='comma token'>,</span> <span class='name identifier id'>name</span><span class='comma token'>,</span> <span class='query identifier id'>query</span><span class='comma token'>,</span> <span class='raw identifier id'>raw</span><span class='comma token'>,</span> <span class='bitand op'>&amp;</span><span class='block identifier id'>block</span><span class='rparen token'>)</span>
<span class='end end kw'>end</span>
</pre></div>          
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>  
  </div>
</div>
<div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>view_by</h3>
</div><div id="view_by-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>view_by</span><span class='args'>(*keys)</span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section docstring">
  <p>
Define a CouchDB view. The name of the view will be the concatenation of
<tt>by</tt> and the keys joined by <tt><em>and</em></tt>
</p>
<h4>Example views:</h4>
<pre class="code">
  <span class='class class kw'>class</span> <span class='Post constant id'>Post</span>
    <span class='comment val'># view with default options</span>
    <span class='comment val'># query with Post.by_date</span>
    <span class='view_by identifier id'>view_by</span> <span class='symbol val'>:date</span><span class='comma token'>,</span> <span class='symbol val'>:descending</span> <span class='assign token'>=</span><span class='gt op'>&gt;</span> <span class='true true kw'>true</span>

    <span class='comment val'># view with compound sort-keys</span>
    <span class='comment val'># query with Post.by_user_id_and_date</span>
    <span class='view_by identifier id'>view_by</span> <span class='symbol val'>:user_id</span><span class='comma token'>,</span> <span class='symbol val'>:date</span>

    <span class='comment val'># view with custom map/reduce functions</span>
    <span class='comment val'># query with Post.by_tags :reduce =&gt; true</span>
    <span class='view_by identifier id'>view_by</span> <span class='symbol val'>:tags</span><span class='comma token'>,</span>
      <span class='symbol val'>:map</span> <span class='assign token'>=</span><span class='gt op'>&gt;</span>
        <span class='string val'>&quot;function(doc) {
          if (doc['couchrest-type'] == 'Post' &amp;&amp; doc.tags) {
            doc.tags.forEach(function(tag){
              emit(doc.tag, 1);
            });
          }
        }&quot;</span><span class='comma token'>,</span>
      <span class='symbol val'>:reduce</span> <span class='assign token'>=</span><span class='gt op'>&gt;</span>
        <span class='string val'>&quot;function(keys, values, rereduce) {
          return sum(values);
        }&quot;</span>
  <span class='end end kw'>end</span>
</pre>
<p>
<tt>view_by :date</tt> will create a view defined by this Javascript
function:
</p>
<pre class="code">
  <span class='function identifier id'>function</span><span class='lparen token'>(</span><span class='doc identifier id'>doc</span><span class='rparen token'>)</span> <span class='lbrace token'>{</span>
    <span class='if if kw'>if</span> <span class='lparen token'>(</span><span class='doc identifier id'>doc</span><span class='lbrack token'>[</span><span class='string val'>'couchrest-type'</span><span class='rbrack token'>]</span> <span class='eq op'>==</span> <span class='string val'>'Post'</span> <span class='andop op'>&amp;&amp;</span> <span class='doc identifier id'>doc</span><span class='dot token'>.</span><span class='date identifier id'>date</span><span class='rparen token'>)</span> <span class='lbrace token'>{</span>
      <span class='emit identifier id'>emit</span><span class='lparen token'>(</span><span class='doc identifier id'>doc</span><span class='dot token'>.</span><span class='date identifier id'>date</span><span class='comma token'>,</span> <span class='null identifier id'>null</span><span class='rparen token'>)</span><span class='semicolon token'>;</span>
    <span class='rbrace token'>}</span>
  <span class='rbrace token'>}</span>
</pre>
<p>
It can be queried by calling <tt>Post.by_date</tt> which accepts all valid
options for CouchRest::Database#view. In addition, calling with the
<tt>:raw =&gt; true</tt> option will return the view rows themselves. By
default <tt>Post.by_date</tt> will return the documents included in the
generated view.
</p>
<p>
Calling with :database =&gt; [instance of CouchRest::Database] will send
the query to a specific database, otherwise it will go to the model&#8217;s
default database (use_database)
</p>
<p>
CouchRest::Database#view options can be applied at view definition time as
defaults, and they will be curried and used at view query time. Or they can
be overridden at query time.
</p>
<p>
Custom views can be queried with <tt>:reduce =&gt; true</tt> to return
reduce results. The default for custom views is to query with <tt>:reduce
=&gt; false</tt>.
</p>
<p>
Views are generated (on a per-model basis) lazily on first-access. This
means that if you are deploying changes to a view, the views for that model
won&#8217;t be available until generation is complete. This can take some
time with large databases. Strategies are in the works.
</p>
<p>
To understand the capabilities of this view system more completely, it is
recommended that you read the RSpec file at
<tt>spec/couchrest/more/extended_doc_spec.rb</tt>.
</p>

</div></div>
<div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="files" style="display:none">
    <div class="file">
      <div class="meta">
        <div class="info">
          <span>File 'lib/couchrest/mixins/views.rb', line 77</span>
        </div>
        <div class="actions">      
          <a id="raw-url" href="http://github.com/mattetti/couchrest/blob/51408990411411f3bf0826cdd0c042f9ccc0c7c7/lib/couchrest/mixins/views.rb#L77">raw</a>      
        </div>
      </div>
            
      <div class="data syntax">    
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>            
                <pre class="line_numbers">77
78
79
80
81
82
83
84
85
86
87
88</pre>
              </td>
              <td width="100%">                    
                <div class="highlight"><pre class="code"><span class='def def kw'>def</span> <span class='view_by identifier id'>view_by</span><span class='lparen token'>(</span><span class='mult op'>*</span><span class='keys identifier id'>keys</span><span class='rparen token'>)</span>
  <span class='opts identifier id'>opts</span> <span class='assign token'>=</span> <span class='keys identifier id'>keys</span><span class='dot token'>.</span><span class='pop identifier id'>pop</span> <span class='if if_mod kw'>if</span> <span class='keys identifier id'>keys</span><span class='dot token'>.</span><span class='last identifier id'>last</span><span class='dot token'>.</span><span class='is_a? fid id'>is_a?</span><span class='lparen token'>(</span><span class='Hash constant id'>Hash</span><span class='rparen token'>)</span>
  <span class='opts identifier id'>opts</span> <span class='opasgn op'>||=</span> <span class='lbrace token'>{</span><span class='rbrace token'>}</span>
  <span class='ducktype identifier id'>ducktype</span> <span class='assign token'>=</span> <span class='opts identifier id'>opts</span><span class='dot token'>.</span><span class='delete identifier id'>delete</span><span class='lparen token'>(</span><span class='symbol val'>:ducktype</span><span class='rparen token'>)</span>
  <span class='unless unless kw'>unless</span> <span class='ducktype identifier id'>ducktype</span> <span class='orop op'>||</span> <span class='opts identifier id'>opts</span><span class='lbrack token'>[</span><span class='symbol val'>:map</span><span class='rbrack token'>]</span>
    <span class='opts identifier id'>opts</span><span class='lbrack token'>[</span><span class='symbol val'>:guards</span><span class='rbrack token'>]</span> <span class='opasgn op'>||=</span> <span class='lbrack token'>[</span><span class='rbrack token'>]</span>
    <span class='opts identifier id'>opts</span><span class='lbrack token'>[</span><span class='symbol val'>:guards</span><span class='rbrack token'>]</span><span class='dot token'>.</span><span class='push identifier id'>push</span> <span class='dstring node'>&quot;(doc['couchrest-type'] == '#{self.to_s}')&quot;</span>
  <span class='end end kw'>end</span>
  <span class='keys identifier id'>keys</span><span class='dot token'>.</span><span class='push identifier id'>push</span> <span class='opts identifier id'>opts</span>
  <span class='self self kw'>self</span><span class='dot token'>.</span><span class='design_doc identifier id'>design_doc</span><span class='dot token'>.</span><span class='view_by identifier id'>view_by</span><span class='lparen token'>(</span><span class='mult op'>*</span><span class='keys identifier id'>keys</span><span class='rparen token'>)</span>
  <span class='self self kw'>self</span><span class='dot token'>.</span><span class='design_doc_fresh identifier id'>design_doc_fresh</span> <span class='assign token'>=</span> <span class='false false kw'>false</span>
<span class='end end kw'>end</span>
</pre></div>          
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>  
  </div>
</div>
<div>
</div>
    </div>
  
</div>
  </div>

</div>
</div>
          </div>
        </div>
      </div>                    
    </div>

    <div id="footer">
      <div class="site">
        <div class="info">
          <div class="links">
            <a href="http://github.com/blog/148-github-shirts-now-available">Shirts</a> |
            <a href="http://github.com/blog">Blog</a> |
            <a href="http://support.github.com/">Support</a> |
            <a href="http://github.com/training">Training</a> |
            <a href="http://github.com/contact">Contact</a> |
            <a href="http://groups.google.com/group/github/">Google Group</a> |
            <a href="http://develop.github.com/">API</a> |
            <a href="http://twitter.com/github">Status</a>
          </div>
          <div class="company">
            <span id="_rrt" title="0.64509s from xc88-s00039">GitHub</span>
            is <a href="http://logicalawesome.com/">Logical Awesome</a> ©2009 | <a href="http://github.com/site/terms">Terms of Service</a> | <a href="http://github.com/site/privacy">Privacy Policy</a>
          </div>
        </div>
        <div class="sponsor">
          <a href="http://engineyard.com/"><img src="http://github.com/images/modules/footer/engine_yard_logo.png" alt="Engine Yard"></a>
          <div>
            Hosting provided by our<br> partners at Engine Yard
          </div>
        </div>
      </div>
    </div>
    
    <div id="coming_soon" style="display: none;">
      This feature is coming soon.  Sit tight!
    </div>

    <div id="facebox" style="display: none;">       
      <div class="popup">         
        <table>           
          <tbody>             
            <tr>               
              <td class="tl"></td>
              <td class="b"></td>
              <td class="tr"></td>             
            </tr>             
          <tr>               
            <td class="b"></td>               
            <td class="body">                 
              <div class="content"></div>                 
              <div class="footer">                   
                <a href="#" class="close"><img src="http://github.com/facebox/closelabel.gif" title="close" class="close_image"></a>                 
              </div>               
            </td>               
            <td class="b"></td>             
          </tr>             
          <tr>               
            <td class="bl"></td>
            <td class="b"></td>
            <td class="br"></td>             
          </tr>           
        </tbody>         
      </table>       
    </div>     


    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8689483-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>

  </body>
</html>