<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>langalex's couch_potato - Module: CouchPotato::View::CustomViews::ClassMethods - GitHub Documentation</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="">

<link rel="search" type="application/opensearchdescription+xml" href="http://github.com/opensearch.xml" title="GitHub">
<link rel="fluid-icon" href="http://github.com/fluidicon.png" title="GitHub">
<link href="http://assets0.github.com/stylesheets/bundle.css" media="screen" rel="stylesheet" type="text/css">
<link href="http://github.com/feeds/langalex/commits/couch_potato/master" rel="alternate" title="Recent Commits to couch_potato:master" type="application/atom+xml">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://assets3.github.com/javascripts/bundle.js"></script>              
<script src="../../../app.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="http://docs.github.com/javascripts/md5.js"></script>
<script type="text/javascript" src="http://docs.github.com/javascripts/repos.js"></script>
<script type="text/javascript" src="http://docs.github.com/javascripts/commits.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    if (typeof skipHeaders != 'undefined') return;
    
    GitHubRepo.init("langalex", "couch_potato", function(){ 
      GitHubRepo.links = " <a id='namespaces_button' rel='langalex/couch_potato/blob/83ccc15742dfc5b5e01675a224485a4c1f0a5249' href='#'><img class='button' src='http://docs.github.com/namespaces_button.png' alt='Modules and Classes'/></a> ";
      GitHubRepo.links += " <a id='methods_button' rel='langalex/couch_potato/blob/83ccc15742dfc5b5e01675a224485a4c1f0a5249' href='#'><img class='button' src='http://docs.github.com/methods_button.png' alt='Methods'/></a> ";
      $("#repo").html(GitHubRepo.content());
      $('#namespaces_button').click(function(){
        var url="/"+$(this).attr('rel')+"/namespaces/";
        $.gitbox(url);
        return false;
      });    
      $('#methods_button').click(function(){
        var url="/"+$(this).attr('rel')+"/methods/";
        $.gitbox(url);
        return false;
      });        
    });
    GitHubCommit.init("langalex", "couch_potato", "83ccc15742dfc5b5e01675a224485a4c1f0a5249", function(){ 
      $("#commit").html(GitHubCommit.content());
    });
  });
</script>

    <link rel="stylesheet" href="../../../style.css" type="text/css" charset="utf-8" />
  </head>
  <body>    
    
    
    
        <div id="main" style="padding-bottom:8em;">
      <div id="header">
        <div class="site">
          <div class="logo">
            <a href="http://github.com/"><img src="http://github.com/images/modules/header/logov3.png" alt="github"></a>
          </div>          
          <div class="topsearch">
            <form action="http://github.com/search" id="top_search_form" method="get">
              <input class="search" name="q" type="search"> <input value="Search" type="submit">
            </form>
            <div class="links">
              <a href="http://github.com/repositories">Browse</a> | <a href="http://github.com/guides">Guides</a> | <a href="http://github.com/search">Advanced</a>
            </div>
          </div>
          <div class="actions">
            <a href="http://github.com">Home</a>
            <a href="http://github.com/plans"><b><u>Pricing and Signup</u></b></a>
            <a href="http://docs.github.com/">Documentation</a>
            <a href="https://github.com/login">Login</a>
          </div>                  
        </div>
      </div>    
                                                  
      <div id="repo_menu">
        <div class="site">
          <ul>          
            <li class=""><a href="http://github.com/langalex/couch_potato/tree/">Source</a></li>
            <li class=""><a href="http://github.com/langalex/couch_potato/commits/">Commits</a></li>            
            <li class=""><a href="http://github.com/langalex/couch_potato/network">Network</a></li>            
            <li class=""><a href="http://github.com/langalex/couch_potato/issues">Issues</a></li>
            <li class=""><a href="http://wiki.github.com/langalex/couch_potato">Wiki</a></li>
            <li class=""><a href="http://github.com/langalex/couch_potato/graphs">Graphs</a></li>                    
            <li class="active"><a href="/langalex/couch_potato">Documentation</a></li>
          </ul>
        </div>
      </div>

      <div id="repo_sub_menu">
        <div class="site">
          <div class="joiner"></div>      
        </div>
      </div>

      <div class="site">  
        <div id="repos">
          <div id="repo" class="repo public">
            <div class="title">
              <div class="path">
                <a href="http://github.com/langalex">langalex</a> / <b><a href="http://github.com/langalex/couch_potato/tree">couch_potato</a></b>        
                <a id="namespaces_button" rel="langalex/couch_potato/blob/83ccc15742dfc5b5e01675a224485a4c1f0a5249" href="#"><img class="button" src="http://docs.github.com/namespaces_button.png" alt="Modules and Classes"/></a>
                <a id="methods_button" rel="langalex/couch_potato/blob/83ccc15742dfc5b5e01675a224485a4c1f0a5249" href="#"><img class="button" src="http://docs.github.com/methods_button.png" alt="Methods"/></a>
              </div>
            </div>            
          </div>
          <div id="commit">
          </div> 
          <br/>                                       
          <div id="content">
            <div class="wikistyle">
  <div class="section module CouchPotato_View_CustomViews_ClassMethods">
  <h1>Module: CouchPotato::View::CustomViews::ClassMethods</h1>
  <div class="section constants">
  
</div>  <div class="section visibilitygroup">
      <div class="section methodsummary">
    <h2>Public Instance Method Summary</h2>
<table class="summary">
  
    <tr>
      <th class="signature">
        <span class='name'><a href="#execute_view-instance_method">#execute_view</span><span class='args'>(view_name, view_parameters)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        
        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href="#view-instance_method">#view</span><span class='args'>(view_name, options)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        
        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href="#view_spec_class-instance_method">#view_spec_class</span><span class='args'>(type)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        
        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href="#views-instance_method">#views</span><span class='args'></span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        <p>
Declare a CouchDB view, for examples on how to use see the *ViewSpec
classes in CouchPotato::View.
</p>

        
      </td>
    </tr>
  
</table>
  </div>
<div class="section methoddetails">
  <h2>Public Instance Method Details</h2>
  
    <div class="method">
      <div class="method_header">
  <h3>execute_view</h3>
</div><div id="execute_view-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>execute_view</span><span class='args'>(view_name, view_parameters)</span>
    <span class='block'></span>
  </tt>
</div>

</div></div>
<div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="files" style="display:none">
    <div class="file">
      <div class="meta">
        <div class="info">
          <span>File 'lib/couch_potato/view/custom_views.rb', line 22</span>
        </div>
        <div class="actions">      
          <a id="raw-url" href="http://github.com/langalex/couch_potato/blob/83ccc15742dfc5b5e01675a224485a4c1f0a5249/lib/couch_potato/view/custom_views.rb#L22">raw</a>      
        </div>
      </div>
            
      <div class="data syntax">    
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>            
                <pre class="line_numbers">22
23
24</pre>
              </td>
              <td width="100%">                    
                <div class="highlight"><pre class="code"><span class='def def kw'>def</span> <span class='execute_view identifier id'>execute_view</span><span class='lparen token'>(</span><span class='view_name identifier id'>view_name</span><span class='comma token'>,</span> <span class='view_parameters identifier id'>view_parameters</span><span class='rparen token'>)</span>
  <span class='view_spec_class identifier id'>view_spec_class</span><span class='lparen token'>(</span><span class='views identifier id'>views</span><span class='lbrack token'>[</span><span class='view_name identifier id'>view_name</span><span class='rbrack token'>]</span><span class='lbrack token'>[</span><span class='symbol val'>:type</span><span class='rbrack token'>]</span><span class='rparen token'>)</span><span class='dot token'>.</span><span class='new identifier id'>new</span><span class='lparen token'>(</span><span class='self self kw'>self</span><span class='comma token'>,</span> <span class='view_name identifier id'>view_name</span><span class='comma token'>,</span> <span class='views identifier id'>views</span><span class='lbrack token'>[</span><span class='view_name identifier id'>view_name</span><span class='rbrack token'>]</span><span class='comma token'>,</span> <span class='view_parameters identifier id'>view_parameters</span><span class='rparen token'>)</span>
<span class='end end kw'>end</span>
</pre></div>          
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>  
  </div>
</div>
<div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>view</h3>
</div><div id="view-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>view</span><span class='args'>(view_name, options)</span>
    <span class='block'></span>
  </tt>
</div>

</div></div>
<div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="files" style="display:none">
    <div class="file">
      <div class="meta">
        <div class="info">
          <span>File 'lib/couch_potato/view/custom_views.rb', line 26</span>
        </div>
        <div class="actions">      
          <a id="raw-url" href="http://github.com/langalex/couch_potato/blob/83ccc15742dfc5b5e01675a224485a4c1f0a5249/lib/couch_potato/view/custom_views.rb#L26">raw</a>      
        </div>
      </div>
            
      <div class="data syntax">    
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>            
                <pre class="line_numbers">26
27
28
29
30
31</pre>
              </td>
              <td width="100%">                    
                <div class="highlight"><pre class="code"><span class='def def kw'>def</span> <span class='view identifier id'>view</span><span class='lparen token'>(</span><span class='view_name identifier id'>view_name</span><span class='comma token'>,</span> <span class='options identifier id'>options</span><span class='rparen token'>)</span>
  <span class='view_name identifier id'>view_name</span> <span class='assign token'>=</span> <span class='view_name identifier id'>view_name</span><span class='dot token'>.</span><span class='to_s identifier id'>to_s</span>
  <span class='views identifier id'>views</span><span class='lbrack token'>[</span><span class='view_name identifier id'>view_name</span><span class='rbrack token'>]</span> <span class='assign token'>=</span> <span class='options identifier id'>options</span>
  <span class='method_str identifier id'>method_str</span> <span class='assign token'>=</span> <span class='dstring node'>&quot;def #{view_name}(view_parameters = {}); execute_view(\&quot;#{view_name}\&quot;, view_parameters); end&quot;</span>
  <span class='self self kw'>self</span><span class='dot token'>.</span><span class='instance_eval identifier id'>instance_eval</span><span class='lparen token'>(</span><span class='method_str identifier id'>method_str</span><span class='rparen token'>)</span>
<span class='end end kw'>end</span>
</pre></div>          
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>  
  </div>
</div>
<div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>view_spec_class</h3>
</div><div id="view_spec_class-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>view_spec_class</span><span class='args'>(type)</span>
    <span class='block'></span>
  </tt>
</div>

</div></div>
<div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="files" style="display:none">
    <div class="file">
      <div class="meta">
        <div class="info">
          <span>File 'lib/couch_potato/view/custom_views.rb', line 33</span>
        </div>
        <div class="actions">      
          <a id="raw-url" href="http://github.com/langalex/couch_potato/blob/83ccc15742dfc5b5e01675a224485a4c1f0a5249/lib/couch_potato/view/custom_views.rb#L33">raw</a>      
        </div>
      </div>
            
      <div class="data syntax">    
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>            
                <pre class="line_numbers">33
34
35
36
37
38
39
40</pre>
              </td>
              <td width="100%">                    
                <div class="highlight"><pre class="code"><span class='def def kw'>def</span> <span class='view_spec_class identifier id'>view_spec_class</span><span class='lparen token'>(</span><span class='type identifier id'>type</span><span class='rparen token'>)</span>
  <span class='if if kw'>if</span> <span class='type identifier id'>type</span> <span class='andop op'>&amp;&amp;</span> <span class='type identifier id'>type</span><span class='dot token'>.</span><span class='is_a? fid id'>is_a?</span><span class='lparen token'>(</span><span class='Class constant id'>Class</span><span class='rparen token'>)</span>
    <span class='type identifier id'>type</span>
  <span class='else else kw'>else</span>
    <span class='name identifier id'>name</span> <span class='assign token'>=</span> <span class='type identifier id'>type</span><span class='dot token'>.</span><span class='nil? fid id'>nil?</span> <span class='integer val'>? </span><span class='string val'>'Model'</span> <span class='colon op'>:</span> <span class='type identifier id'>type</span><span class='dot token'>.</span><span class='to_s identifier id'>to_s</span><span class='dot token'>.</span><span class='camelize identifier id'>camelize</span>
    <span class='CouchPotato constant id'>CouchPotato</span><span class='colon2 op'>::</span><span class='View constant id'>View</span><span class='dot token'>.</span><span class='const_get identifier id'>const_get</span><span class='lparen token'>(</span><span class='dstring node'>&quot;#{name}ViewSpec&quot;</span><span class='rparen token'>)</span>
  <span class='end end kw'>end</span>
<span class='end end kw'>end</span>
</pre></div>          
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>  
  </div>
</div>
<div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>views</h3>
</div><div id="views-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>views</span><span class='args'></span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section docstring">
  <p>
Declare a CouchDB view, for examples on how to use see the *ViewSpec
classes in CouchPotato::View
</p>

</div></div>
<div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="files" style="display:none">
    <div class="file">
      <div class="meta">
        <div class="info">
          <span>File 'lib/couch_potato/view/custom_views.rb', line 18</span>
        </div>
        <div class="actions">      
          <a id="raw-url" href="http://github.com/langalex/couch_potato/blob/83ccc15742dfc5b5e01675a224485a4c1f0a5249/lib/couch_potato/view/custom_views.rb#L18">raw</a>      
        </div>
      </div>
            
      <div class="data syntax">    
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>            
                <pre class="line_numbers">18
19
20</pre>
              </td>
              <td width="100%">                    
                <div class="highlight"><pre class="code"><span class='def def kw'>def</span> <span class='views identifier id'>views</span>
  <span class='@views ivar id'>@views</span> <span class='opasgn op'>||=</span> <span class='lbrace token'>{</span><span class='rbrace token'>}</span>
<span class='end end kw'>end</span>
</pre></div>          
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>  
  </div>
</div>
<div>
</div>
    </div>
  
</div>
  </div>

</div>
</div>
          </div>
        </div>
      </div>                    
    </div>

    <div id="footer">
      <div class="site">
        <div class="info">
          <div class="links">
            <a href="http://github.com/blog/148-github-shirts-now-available">Shirts</a> |
            <a href="http://github.com/blog">Blog</a> |
            <a href="http://support.github.com/">Support</a> |
            <a href="http://github.com/training">Training</a> |
            <a href="http://github.com/contact">Contact</a> |
            <a href="http://groups.google.com/group/github/">Google Group</a> |
            <a href="http://develop.github.com/">API</a> |
            <a href="http://twitter.com/github">Status</a>
          </div>
          <div class="company">
            <span id="_rrt" title="0.64509s from xc88-s00039">GitHub</span>
            is <a href="http://logicalawesome.com/">Logical Awesome</a> ©2009 | <a href="http://github.com/site/terms">Terms of Service</a> | <a href="http://github.com/site/privacy">Privacy Policy</a>
          </div>
        </div>
        <div class="sponsor">
          <a href="http://engineyard.com/"><img src="http://github.com/images/modules/footer/engine_yard_logo.png" alt="Engine Yard"></a>
          <div>
            Hosting provided by our<br> partners at Engine Yard
          </div>
        </div>
      </div>
    </div>
    
    <div id="coming_soon" style="display: none;">
      This feature is coming soon.  Sit tight!
    </div>

    <div id="facebox" style="display: none;">       
      <div class="popup">         
        <table>           
          <tbody>             
            <tr>               
              <td class="tl"></td>
              <td class="b"></td>
              <td class="tr"></td>             
            </tr>             
          <tr>               
            <td class="b"></td>               
            <td class="body">                 
              <div class="content"></div>                 
              <div class="footer">                   
                <a href="#" class="close"><img src="http://github.com/facebox/closelabel.gif" title="close" class="close_image"></a>                 
              </div>               
            </td>               
            <td class="b"></td>             
          </tr>             
          <tr>               
            <td class="bl"></td>
            <td class="b"></td>
            <td class="br"></td>             
          </tr>           
        </tbody>         
      </table>       
    </div>     


    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8689483-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>

  </body>
</html>