<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../style.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="../../syntax_highlight.css" type="text/css" charset="utf-8" />

    <script src="../../jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../app.js" type="text/javascript" charset="utf-8"></script>
    <title>Class: ActionView::Template::Path</title>
  </head>
  <body>
    <div id="content">
      <div class="section class ActionView_Template_Path">
  <h1 class="title">Class: ActionView::Template::Path</h1>
  <div class="section inheritance">
  <ul>
  <li><a href='../../Object.html' title='Object'>Object</a></li><ul><li>ActionView::Template::Path</li>
  </ul></ul>
</div><div class="section attributes">
  <h1>Attributes</h1>

  
    <div class="instance">
      <h2>Instance Attributes</h2>
      <table>
      
        <tr>
          <th class="name">path</td>
          <td class="readwrite">
            [<span id='path-instance_method'>R</span>W] 
          </td>
          <td class="visibility">
            public
          </td>
          <td class="docstring">
            <p>
Returns the value of attribute <tt>path</tt>.
</p>

            
          </td>
        </tr>
      
        <tr>
          <th class="name">paths</td>
          <td class="readwrite">
            [<span id='paths-instance_method'>R</span>W] 
          </td>
          <td class="visibility">
            public
          </td>
          <td class="docstring">
            <p>
Returns the value of attribute <tt>paths</tt>.
</p>

            
          </td>
        </tr>
      
      </table>
    </div>
  
</div><div class="section constants">
  
</div><div class="section constructor">
<h1>Constructor Summary</h1>
  <div id="initialize-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>initialize</span><span class='args'>(options)</span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="source_code">
    <table>
      <tr>
        <td>
          <pre class="lines">


7
8
9</pre>
        </td>
        <td>
          <pre class="code"><span class="info file"># File 'actionpack/lib/action_view/template/path.rb', line 7</span>

<span class='def def kw'>def</span> <span class='initialize identifier id'>initialize</span><span class='lparen token'>(</span><span class='options identifier id'>options</span><span class='rparen token'>)</span>
  <span class='@cache ivar id'>@cache</span> <span class='assign token'>=</span> <span class='options identifier id'>options</span><span class='lbrack token'>[</span><span class='symbol val'>:cache</span><span class='rbrack token'>]</span>
<span class='end end kw'>end</span>
</pre>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
</div>  <div class="section visibilitygroup public">
    <h1>Public Visibility</h1>
      <div class="section methodsummary instance public">
    <h1>Public Instance Method Summary</h1>
<table class="summary">
  
    <tr>
      <th class="signature">
        <span class='name'><a href='#%3D%3D-instance_method' title='#=='>#==</a></span><span class='args'>(path)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        
        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href='#eql%3F-instance_method' title='#eql?'>#eql?</a></span><span class='args'>(path)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        
        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href='#find_by_parts-instance_method' title='#find_by_parts'>#find_by_parts</a></span><span class='args'>(name, extensions = nil, prefix = nil, partial = nil)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        
        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href='#to_s-instance_method' title='#to_s'>#to_s</a></span><span class='args'></span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        
        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href='#to_str-instance_method' title='#to_str'>#to_str</a></span><span class='args'></span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        
        
      </td>
    </tr>
  
</table><div class="inherited">
  
  <div>
    <h1>Public Instance Methods Inherited from <a href='../../Object.html' title='Object'>Object</a></h1>
    <p><span class='name'><a href='../../Object.html#blank%3F-instance_method' title='blank?'>blank?</a></span>, <span class='name'><a href='../../Object.html#duplicable%3F-instance_method' title='duplicable?'>duplicable?</a></span>, <span class='name'><a href='../../Object.html#present%3F-instance_method' title='present?'>present?</a></span>, <span class='name'><a href='../../Object.html#to_param-instance_method' title='to_param'>to_param</a></span></p>
  </div>
  
</div>
<div class="clear"></div>
  </div>
<div class="section methoddetails instance public">
  <h1>Public Instance Method Details</h1>
  
    <div class="method">
      <div class="method_header">
  <h3>==</h3>
</div><div id="%3D%3D-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>==</span><span class='args'>(path)</span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="source_code">
    <table>
      <tr>
        <td>
          <pre class="lines">


23
24
25</pre>
        </td>
        <td>
          <pre class="code"><span class="info file"># File 'actionpack/lib/action_view/template/path.rb', line 23</span>

<span class='def def kw'>def</span> <span class='eq op'>==</span><span class='lparen token'>(</span><span class='path identifier id'>path</span><span class='rparen token'>)</span>
  <span class='to_str identifier id'>to_str</span> <span class='eq op'>==</span> <span class='path identifier id'>path</span><span class='dot token'>.</span><span class='to_str identifier id'>to_str</span>
<span class='end end kw'>end</span>
</pre>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>eql?</h3>
</div><div id="eql%3F-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>eql?</span><span class='args'>(path)</span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="source_code">
    <table>
      <tr>
        <td>
          <pre class="lines">


27
28
29</pre>
        </td>
        <td>
          <pre class="code"><span class="info file"># File 'actionpack/lib/action_view/template/path.rb', line 27</span>

<span class='def def kw'>def</span> <span class='eql? fid id'>eql?</span><span class='lparen token'>(</span><span class='path identifier id'>path</span><span class='rparen token'>)</span>
  <span class='to_str identifier id'>to_str</span> <span class='eq op'>==</span> <span class='path identifier id'>path</span><span class='dot token'>.</span><span class='to_str identifier id'>to_str</span>
<span class='end end kw'>end</span>
</pre>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>find_by_parts</h3>
</div><div id="find_by_parts-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>find_by_parts</span><span class='args'>(name, extensions = nil, prefix = nil, partial = nil)</span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="source_code">
    <table>
      <tr>
        <td>
          <pre class="lines">


31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46</pre>
        </td>
        <td>
          <pre class="code"><span class="info file"># File 'actionpack/lib/action_view/template/path.rb', line 31</span>

<span class='def def kw'>def</span> <span class='find_by_parts identifier id'>find_by_parts</span><span class='lparen token'>(</span><span class='name identifier id'>name</span><span class='comma token'>,</span> <span class='extensions identifier id'>extensions</span> <span class='assign token'>=</span> <span class='nil nil kw'>nil</span><span class='comma token'>,</span> <span class='prefix identifier id'>prefix</span> <span class='assign token'>=</span> <span class='nil nil kw'>nil</span><span class='comma token'>,</span> <span class='partial identifier id'>partial</span> <span class='assign token'>=</span> <span class='nil nil kw'>nil</span><span class='rparen token'>)</span>
  <span class='path identifier id'>path</span> <span class='assign token'>=</span> <span class='prefix identifier id'>prefix</span> <span class='integer val'>? </span><span class='dstring node'>&quot;#{prefix}/&quot;</span> <span class='colon op'>:</span> <span class='string val'>&quot;&quot;</span>
    
  <span class='name identifier id'>name</span> <span class='assign token'>=</span> <span class='name identifier id'>name</span><span class='dot token'>.</span><span class='to_s identifier id'>to_s</span><span class='dot token'>.</span><span class='split identifier id'>split</span><span class='lparen token'>(</span><span class='string val'>&quot;/&quot;</span><span class='rparen token'>)</span>
  <span class='name identifier id'>name</span><span class='lbrack token'>[</span><span class='integer val'>-1</span><span class='rbrack token'>]</span> <span class='assign token'>=</span> <span class='dstring node'>&quot;_#{name[-1]}&quot;</span> <span class='if if_mod kw'>if</span> <span class='partial identifier id'>partial</span>
    
  <span class='path identifier id'>path</span> <span class='lshft op'>&lt;&lt;</span> <span class='name identifier id'>name</span><span class='dot token'>.</span><span class='join identifier id'>join</span><span class='lparen token'>(</span><span class='string val'>&quot;/&quot;</span><span class='rparen token'>)</span>

  <span class='template identifier id'>template</span> <span class='assign token'>=</span> <span class='nil nil kw'>nil</span>

  <span class='Array constant id'>Array</span><span class='lparen token'>(</span><span class='extensions identifier id'>extensions</span><span class='rparen token'>)</span><span class='dot token'>.</span><span class='each identifier id'>each</span> <span class='do do kw'>do</span> <span class='bitor op'>|</span><span class='extension identifier id'>extension</span><span class='bitor op'>|</span>
    <span class='extensioned_path identifier id'>extensioned_path</span> <span class='assign token'>=</span> <span class='extension identifier id'>extension</span> <span class='integer val'>? </span><span class='dstring node'>&quot;#{path}.#{extension}&quot;</span> <span class='colon op'>:</span> <span class='path identifier id'>path</span>
    <span class='break break kw'>break</span> <span class='if if_mod kw'>if</span> <span class='lparen token'>(</span><span class='template identifier id'>template</span> <span class='assign token'>=</span> <span class='find_template identifier id'>find_template</span><span class='lparen token'>(</span><span class='extensioned_path identifier id'>extensioned_path</span><span class='rparen token'>)</span><span class='rparen token'>)</span>
  <span class='end end kw'>end</span>
  <span class='template identifier id'>template</span> <span class='orop op'>||</span> <span class='find_template identifier id'>find_template</span><span class='lparen token'>(</span><span class='path identifier id'>path</span><span class='rparen token'>)</span>
<span class='end end kw'>end</span>
</pre>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>to_s</h3>
</div><div id="to_s-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>to_s</span><span class='args'></span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="source_code">
    <table>
      <tr>
        <td>
          <pre class="lines">


11
12
13
14
15
16
17</pre>
        </td>
        <td>
          <pre class="code"><span class="info file"># File 'actionpack/lib/action_view/template/path.rb', line 11</span>

<span class='def def kw'>def</span> <span class='to_s identifier id'>to_s</span>
  <span class='if if kw'>if</span> <span class='defined? defined kw'>defined?</span><span class='lparen token'>(</span><span class='RAILS_ROOT constant id'>RAILS_ROOT</span><span class='rparen token'>)</span>
    <span class='path identifier id'>path</span><span class='dot token'>.</span><span class='to_s identifier id'>to_s</span><span class='dot token'>.</span><span class='sub identifier id'>sub</span><span class='lparen token'>(</span><span class='dregexp node'>/^#{Regexp.escape(File.expand_path(RAILS_ROOT))}\//</span><span class='comma token'>,</span> <span class='string val'>''</span><span class='rparen token'>)</span>
  <span class='else else kw'>else</span>
    <span class='path identifier id'>path</span><span class='dot token'>.</span><span class='to_s identifier id'>to_s</span>
  <span class='end end kw'>end</span>
<span class='end end kw'>end</span>
</pre>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>to_str</h3>
</div><div id="to_str-instance_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>to_str</span><span class='args'></span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="source_code">
    <table>
      <tr>
        <td>
          <pre class="lines">


19
20
21</pre>
        </td>
        <td>
          <pre class="code"><span class="info file"># File 'actionpack/lib/action_view/template/path.rb', line 19</span>

<span class='def def kw'>def</span> <span class='to_str identifier id'>to_str</span>
  <span class='path identifier id'>path</span><span class='dot token'>.</span><span class='to_str identifier id'>to_str</span>
<span class='end end kw'>end</span>
</pre>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
    </div>
  
</div>
  </div>

</div>
    </div>
  </body>
</html>