<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../../style.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="../../syntax_highlight.css" type="text/css" charset="utf-8" />

    <script src="../../jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../app.js" type="text/javascript" charset="utf-8"></script>
    <title>Class: Hirb::Views::ActiveRecord_Base</title>
  </head>
  <body>
    <div id="content">
      <div class="section class Hirb_Views_ActiveRecord_Base">
  <h1 class="title">Class: Hirb::Views::ActiveRecord_Base</h1>
  <div class="section constants">
  
</div>  <div class="section visibilitygroup public">
    <h1>Public Visibility</h1>
      <div class="section methodsummary class public">
    <h1>Public Class Method Summary</h1>
<table class="summary">
  
    <tr>
      <th class="signature">
        <span class='name'><a href='#default_options-class_method' title='default_options'>default_options</a></span><span class='args'></span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        
        
      </td>
    </tr>
  
    <tr>
      <th class="signature">
        <span class='name'><a href='#render-class_method' title='render'>render</a></span><span class='args'>(*args)</span>
        <span class='block'></span>
        
      </th>
      <td class="docstring">
        
        
      </td>
    </tr>
  
</table>
  </div>
<div class="section methoddetails class public">
  <h1>Public Class Method Details</h1>
  
    <div class="method">
      <div class="method_header">
  <h3>default_options</h3>
</div><div id="default_options-class_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>default_options</span><span class='args'></span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="source_code">
    <table>
      <tr>
        <td>
          <pre class="lines">


2
3
4</pre>
        </td>
        <td>
          <pre class="code"><span class="info file"># File 'lib/hirb/views/activerecord_base.rb', line 2</span>

<span class='def def kw'>def</span> <span class='self self kw'>self</span><span class='dot token'>.</span><span class='default_options identifier id'>default_options</span>
  <span class='lbrace token'>{</span><span class='symbol val'>:ancestor=</span><span class='gt op'>&gt;</span><span class='true true kw'>true</span><span class='rbrace token'>}</span>
<span class='end end kw'>end</span>
</pre>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
    </div>
  
    <div class="method">
      <div class="method_header">
  <h3>render</h3>
</div><div id="render-class_method" class="section method">
  <div class="details_title">
  <div class='section methodsignature'>
  <tt class='def'>
    <span class='visibility'>public</span>
    <span class='return_types'></span>
    <span class='name'>render</span><span class='args'>(*args)</span>
    <span class='block'></span>
  </tt>
</div>

</div><div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="source_code">
    <table>
      <tr>
        <td>
          <pre class="lines">


6
7
8</pre>
        </td>
        <td>
          <pre class="code"><span class="info file"># File 'lib/hirb/views/activerecord_base.rb', line 6</span>

<span class='def def kw'>def</span> <span class='self self kw'>self</span><span class='dot token'>.</span><span class='render identifier id'>render</span><span class='lparen token'>(</span><span class='mult op'>*</span><span class='args identifier id'>args</span><span class='rparen token'>)</span>
  <span class='Hirb constant id'>Hirb</span><span class='colon2 op'>::</span><span class='Helpers constant id'>Helpers</span><span class='colon2 op'>::</span><span class='ActiveRecordTable constant id'>ActiveRecordTable</span><span class='dot token'>.</span><span class='render identifier id'>render</span><span class='lparen token'>(</span><span class='mult op'>*</span><span class='args identifier id'>args</span><span class='rparen token'>)</span>
<span class='end end kw'>end</span>
</pre>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
    </div>
  
</div>
  </div>

</div>
    </div>
  </body>
</html>